.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tile.is-child {
  background: #343a40;
  padding: 2.2rem;
  border-radius: 0.25rem;
}

.tag{
  margin-bottom: 0.0rem;
  height: 3.5em;
}

.top {
  text-align: left;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
  color: #fff;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.habittitle {
  text-align: left;
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0em;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.landingtitle {
  text-align: center;
  font-size: 4.5rem;
  font-style: italic;
  font-weight: 600;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 1.0),
      rgba(0, 0, 0, 1.0)
    ), url('../resources/cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .nav, .hero.is-success .nav {
-webkit-box-shadow: none;
box-shadow: none;
}

.hero .subtitle {
padding: 3rem 0;
line-height: 1.2;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
