.Title {
  text-align: center;
  font-size: 2.75rem;
  font-weight: 550;
  color: #1d2124;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  line-height: 1.25;
}

.navbar {
  padding-left: 115px;
  padding-right: 115px;
}